body{
    background: url('/src/images/bg-desktop.svg') center center
    no-repeat fixed;
    font-family: 'Roboto', sans-serif;;
    background-color: #674BB1
}

.logo {
    width: 260px;
    margin: 30px 30px 30px 120px;
}

.container{
    display: flex;
    align-items: center;
    margin-left: 110px
    
}

.container-grid {
    display: grid;
    grid: "picture contain";
}

.picture {
    grid-area: picture;
}

.contain{
    grid-area: contain;
    margin-top: 30px;
}

.contain .contain-description{
    margin-top: 30px;
    margin-left: 30px;
}

.contain .contain-description:last-child{
    margin-top: 60px;
}

.contain  h1{
    width: 300px;
    font-size: 28px;
    font-weight:  700;
    color: white;
}

.contain p {
    width: 450px;
    font-size: 16px;
    text-align: left;
    line-height: 25px;
    height: 50px;
    font-weight: 600;
    color: white
}

button {
    background-color: #FFF;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 25px;
    color: #972984;
    transition: 0.3s ease-in-out;
}

button:hover{
    cursor: pointer;
    background-color: rgb(228, 95, 228);
    border: 1px solid rgb(228, 95, 228);
    color: #FFF;
}

.social {
    display: flex;
    justify-content: flex-end;
    width: 1065px;
    margin: auto;
}

.social .fab{
    color: #FFF;
}

.social a  i  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 15px;
    text-decoration: none;
    border: 1px solid #FFF;
    border-radius: 50%;
    width: 5px;
    height: 5px
}

.social a  i:hover  {
    color: red;
    border: 1px solid red;
}



